---
import BackToTop from '@components/ui/BackToTop.astro';
import Layout from '@layouts/Layout.astro';
const allPhotos = [
  { src: "/images/DJI_0002.JPG", alt: "Mountain Sunrise" },
  { src: "/images/DJI_0015.JPG", alt: "Street Portrait" },
//   { src: "/images/DJI_0020.JPG", alt: "Urban Landscape" },
//   { src: "/images/DJI_0008.JPG", alt: "Golden Hour" },
  // Add more images as desired
];
---


<Layout>
	<main>
		<BackToTop />
	</main>
</Layout>