<section
	data-testid="about"
	id="about"
	class="flex flex-col items-center justify-start px-6 py-12 lg:h-screen lg:flex-row lg:items-start lg:justify-center"
>
	<div class="mb-6 w-full text-center lg:mb-0 lg:w-1/2 lg:text-left">
		<h2 class="font-monospace text-2xl text-theme lg:text-4xl">About me</h2>
		<span class="mt-2 inline-block h-1 w-10 bg-theme"></span>
	</div>

	<div class="w-full text-black dark:text-white lg:w-1/2">
		<p class="font-monospace leading-relaxed">
			I'm an aerospace engineer with a passion for exploration—whether it's on the ground, 
			in the sky, through space, or even storytelling. I am passionate about advancing human spaceflight 
			with my love for guidance, navigation, and controls engineering. Outside of
			engineering innovation I am walking through nature, capturing new perspectives with my drone, 
			piecing together jigsaw puzzles, or simply sipping on a good cup of coffee. Whether you're here 
			to explore my engineering portfolio, browse photography, or read a blog post or two—welcome!
		</p>
	</div>
</section>
