<footer data-testid="footer" id="footer" class="p-6 text-center text-sm text-black dark:text-white">
  <p>
    <a href="https://github.com/anshgupta721" target="_blank" rel="noopener">
      <span class="text-orange">Ansh Gupta</span>
    </a>
  </p>
  <p class="mt-2">
    <a href="mailto:anshgupta@tamu.edu" class="underline hover:text-orange">Contact Me</a>
    &nbsp;|&nbsp;
    <a href="https://linkedin.com/in/anshgupta721" target="_blank" rel="noopener" class="underline hover:text-orange">LinkedIn</a>
  </p>
  <p class="mt-4 text-xs">
    © 2025 Ansh Gupta. All rights reserved.
  </p>
</footer>
