<div class="theme-switch-wrapper md:flex md:items-center flex items-center">
	<label
		data-testid="theme-switch"
		class="theme-switch relative inline-block h-[34px] w-[60px]"
		for="checkbox"
	>
		<input type="checkbox" id="checkbox" class="hidden" />
		<div
			class="slider absolute bottom-0 left-0 right-0 top-0 cursor-pointer rounded-full bg-white border-2 border-black before:absolute before:bottom-[2px] before:left-[2px] before:h-[26px] before:w-[26px] before:rounded-full before:bg-black before:transition-transform before:duration-300 before:ease-in-out before:shadow-md dark:bg-black dark:border-white dark:before:bg-white"
		>
		</div>
	</label>
</div>

<style>
	input:checked + .slider:before {
		transform: translateX(24px);
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', function ready() {
		const button = document.querySelector(
			'.theme-switch input[type="checkbox"]'
		) as HTMLInputElement;

		const switchTheme = () => {
			const isDark = document.documentElement.classList.toggle('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		};

		// Check if dark mode should be enabled
		const isDarkMode = localStorage.theme === 'dark' || 
		                   (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches);

		if (isDarkMode) {
			document.documentElement.classList.add('dark');
			button.checked = true;
		}

		button.addEventListener('click', () => {
			switchTheme();
		});
	});
</script>